<div class="mt-3 mx-auto ms-3">
  <h3 class="mb-3">Datos del Paciente</h3>
  <div class="datos-paciente">
    <div class="row">
      <div class="col-sm-6">
        <div class="item"><strong>Nombre:</strong> {{ paciente.nombre }}</div>
        <div class="item"><strong>Apellido:</strong> {{ paciente.apellido }}</div>
        <div class="item"><strong>Edad:</strong> {{ paciente.edad }}</div>
        <div class="item"><strong>Teléfono:</strong> {{ paciente.telefono }}</div>
      </div>
      <div class="col-sm-6">
        <div class="item"><strong>Correo:</strong> {{ paciente.correo }}</div>
        <div class="item"><strong>Previsión:</strong> {{ paciente.prevision }}</div>
        <div class="item"><strong>Fecha de Nacimiento:</strong> {{ paciente.fechaNacimiento }}</div>
      </div>
    </div>
  </div>
</div>
<div class="mt-3 mx-auto ms-3">
  <h3 class="mb-3">Antecedentes Patologicos</h3>
  <div class="datos-paciente">
    <div class="row">
      <div class="col-sm-6">
        <div class="item"><strong>Cardiovascular:</strong> {{ patologia.cardiovascular}}</div>
        <div class="item"><strong>Pulmonar:</strong> {{ patologia.pulmonares }}</div>
        <div class="item"><strong>Digestiva:</strong> {{ patologia.digestivas }}</div>
        <div class="item"><strong>Diabetes:</strong> {{ patologia.diabetes }}</div>
        <div class="item"><strong>Renales:</strong> {{ patologia.renales }}</div>
      </div>
      <div class="col-sm-6">
        <div class="item"><strong>Quirurjicos:</strong> {{ patologia.quirurgicos }}</div>
        <div class="item"><strong>Alergicos:</strong> {{ patologia.alergicos }}</div>

        <div class="item"><strong>Transfusiones:</strong> {{ patologia.transfusiones }}</div>
        <div class="item"><strong>Medicamentos:</strong> {{ patologia.medicamentos }}</div>
        <div class="item"><strong>Actividad Fisica:</strong> {{ patologia.actividad_fisica}}</div>
      </div>
    </div>
  </div>
</div>
  <div class="mt-3 mx-auto ms-3">
    <h3 class="mb-3">Antecedentes No Patologicos</h3>
    <div class="datos-paciente">
      <div class="row">
        <div class="col-sm-6">
          <div class="item"><strong>Alcohol:</strong> {{ no_patologica.alcohol}}</div>
          <div class="item"><strong>Tabaquismo:</strong> {{ no_patologica.tabaquismo }}</div>

        </div>
        <div class="col-sm-6">
          <div class="item"><strong>Drogas:</strong> {{ no_patologica.drogas }}</div>
          <div class="item"><strong>Inmunizaciones:</strong> {{ no_patologica.inmunizaciones }}</div>

        </div>
      </div>
    </div>
  </div>
  <div class="mt-3 mx-auto ms-3">
    <h3 class="mb-3">Lista de Consultas Médicas</h3>
    <div *ngFor="let consulta of consultas" class="consulta">
      <div class="row align-items-center">
        <div class="col-sm-3">
          <div class="item"><strong>Fecha:</strong> {{ consulta.fecha }}</div>
        </div>
        <div class="col-sm-3">
          <div class="item"><strong>Hora:</strong> {{ consulta.hora }}</div>
        </div>
        <div class="col-sm-3">
          <div class="item"><strong>Indicaciones:</strong> {{ consulta.indicaciones }}</div>
        </div>
        <div class="col-sm-3">
          <div class="item"><strong>Tratamiento:</strong> {{ consulta.tratamiento }}</div>
        </div>
      </div>
      <hr> <!-- Línea divisoria entre consultas -->
    </div>
  </div>

