

<div class="mt-3 mx-auto ms-3">
  <h3 class="mb-3">Datos del Paciente</h3>
  <div class="datos-paciente">
    <div class="row">
      <div class="col-sm-6">
        <div class="item"><strong>Nombre:</strong> {{ paciente.nombre }}</div>
        <div class="item"><strong>Apellido:</strong> {{ paciente.apellido }}</div>
        <div class="item"><strong>Edad:</strong> {{ paciente.edad }}</div>
        <div class="item"><strong>Teléfono:</strong> {{ paciente.telefono }}</div>
      </div>
      <div class="col-sm-6">
        <div class="item"><strong>Correo:</strong> {{ paciente.correo }}</div>
        <div class="item"><strong>Previsión:</strong> {{ paciente.prevision }}</div>
        <div class="item"><strong>Fecha de Nacimiento:</strong> {{ paciente.fechaNacimiento }}</div>
      </div>
    </div>
  </div>
</div>

<div class="mt-3 mx-auto ms-3">
  <h3 class="mb-3">Lista de Consultas Médicas</h3>
  <div *ngFor="let consulta of consultas" class="consulta">
    <div class="row align-items-center">
      <div class="col-sm-3">
        <div class="item"><strong>Fecha:</strong> {{ consulta.fecha }}</div>
      </div>
      <div class="col-sm-3">
        <div class="item"><strong>Hora:</strong> {{ consulta.hora }}</div>
      </div>
      <div class="col-sm-3">
        <div class="item"><strong>Indicaciones:</strong> {{ consulta.indicaciones }}</div>
      </div>
      <div class="col-sm-3">
        <div class="item"><strong>Tratamiento:</strong> {{ consulta.tratamiento }}</div>
      </div>
    </div>
    <hr> <!-- Línea divisoria entre consultas -->
  </div>
</div>

