

<div class="mt-3 mx-auto ms-3">
  <h3 class="mb-3">Datos del Paciente</h3>
  <div class="datos-paciente">
    <div class="row">
      <div class="col-sm-6">
        <div class="item"><strong>Nombre:</strong> {{ paciente.nombre }}</div>
        <div class="item"><strong>Apellido:</strong> {{ paciente.apellido }}</div>
        <div class="item"><strong>Edad:</strong> {{ paciente.edad }}</div>
        <div class="item"><strong>Teléfono:</strong> {{ paciente.telefono }}</div>
      </div>
      <div class="col-sm-6">
        <div class="item"><strong>Correo:</strong> {{ paciente.correo }}</div>
        <div class="item"><strong>Previsión:</strong> {{ paciente.prevision }}</div>
        <div class="item"><strong>Fecha de Nacimiento:</strong> {{ paciente.fechaNacimiento }}</div>
      </div>
    </div>
  </div>
</div>




<div class="mt-3 mx-auto ms-3">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <h3 class="mb-3">Evaluación</h3>
    </div>
    <div class="col-sm-6">
      <button routerLink="/evaluacion" type="submit" class="btn btn-secondary">Editar</button>
    </div>
  </div>
  <div class="datos-paciente">
    <div class="row">
      <div class="col-sm-6">
        <div class="item"><strong>Fecha de Ingreso:</strong> {{ paciente.fechaIngreso }}</div>
        <div class="item"><strong>Objetivo:</strong> {{ paciente.objetivo }}</div>
      </div>
      <div class="col-sm-6">
        <div class="item"><strong>Evaluación:</strong> {{ paciente.evaluacion }}</div>
        <div class="item"><strong>Diagnóstico:</strong> {{ paciente.diagnostico }}</div>
      </div>
    </div>
  </div>
</div>




<div class="mt-3 mx-auto ms-3">
    <div class="row align-items-center">
    <div class="col-sm-6">
  <h3 class="mb-3">Lista de Sesiones</h3>
    </div>
    <div class="col-sm-6">
      <button routerLink="/nueva-sesion" type="submit" class="btn btn-primary">Nueva</button>
    </div>
  </div>
  <div *ngFor="let sesion of sesiones" class="lista-sesiones">
    <div class="row align-items-center">
      <div class="col-sm-3">
        <div class="item"><strong>Sesión:</strong> {{ sesion.sesion }}</div>
      </div>
      <div class="col-sm-3">
        <div class="item"><strong>Fecha:</strong> {{ sesion.fecha }}</div>
      </div>
      <div class="col-sm-3">
        <div class="item"><strong>Hora:</strong> {{ sesion.hora }}</div>
      </div>
      <div class="col-sm-3">
        <button routerLink="/editar-sesion" type="submit" class="btn btn-secondary">Editar</button>
      </div>
    </div>
    <div>
      <br>
      <div class="descripcion-wrapper">
        <div class="descripcion">{{ sesion.descripcion }}</div>
        <hr>
      </div>
    </div>
  </div>
</div>


