<div>
  <form>
    <div class="card">
      <div class="card-body">
        <h3>Nueva sesión</h3>

        <div class="mb-3">
          <label for="fecha" class="form-label">Fecha:</label>
          <input type="date" class="form-control" id="fecha" formControlName="fecha">
        </div>

        <div class="mb-3">
          <label for="hora" class="form-label">Hora:</label>
          <input type="time" class="form-control" id="hora" formControlName="hora">
        </div>

        <div class="mb-3">
          <label for="descripcion" class="form-label">Descripción:</label>
          <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
        </div>

        <div class="button-container">
          <button type="submit" class="btn btn-primary me-2">Guardar</button>
          <button type="button" class="btn btn-secondary" routerLink="/lista">Volver</button>
        </div>

      </div>
    </div>
  </form>
</div>
